[train] #train parameters
epoch = 128
batch_size = 64

reader_num = 4

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 0.95
shuffle = True

[eval] #eval parameters
batch_size = 64

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = Char
train_data_path = data/sentence/
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = Char
valid_data_path = data/sentence/
valid_file_list = test.json

test_dataset_type = JsonFromFiles
test_formatter_type = Char
test_data_path = data/sentence/
test_file_list = test.json

max_seq_length = 256
word2id = data/sentence/word2id.json
mapping_file = data/mapping.json
multi = False

[model] #model parameters
model_name = CNN

hidden_size = 256

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/zhx/xcjshr/model
model_name = basic_bert_test

tensorboard_path =/data/disk1/private/zhx/xcjshr/tensorboard

output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
