[train] #train parameters
epoch = 16
batch_size = 2

shuffle = True

reader_num = 8

optimizer = AdamW
learning_rate = 5e-5
weight_decay = 0.01
step_size = 1
lr_multiplier = 1

max_len=4096
mlm_prob=0.15
law_max_len=100
law_neg_num=5

warmup_steps=3000
training_steps=100000
max_grad_norm=1.0
fp16=True

valid_mode = step
step_epoch = 3000

grad_accumulate = 2

[eval] #eval parameters
batch_size = 8

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = ContrastiveLaw
train_formatter_type = ContrastiveLaw
train_data = /mnt/datadisk0/xcj/LegalBert/data/tokens
train_files = ms_data_law_train_SS_document,xs_data_law_train_SS_document

valid_dataset_type = ContrastiveLaw
valid_formatter_type = ContrastiveLaw
valid_data = /mnt/datadisk0/xcj/LegalBert/data/tokens
valid_files = ms_data_law_valid_SS_document,xs_data_law_valid_SS_document

[model] #model parameters
model_name = ContrastiveLaw

[output] #output parameters
output_time = 1
test_time = 1

model_path = /mnt/datadisk0/xcj/LegalBert/model
model_name = ContrastiveLaw

tensorboard_path = /mnt/datadisk0/xcj/LegalBert/tensorboard

output_function = binary
