[train] #train parameters
epoch = 16
batch_size = 2

shuffle = True

reader_num = 8

grad_accumulate = 4

optimizer = AdamW
learning_rate = 5e-5
weight_decay = 0.01
step_size = 1
lr_multiplier = 1

max_len=2048
mlm_prob=0.15

warmup_steps=6000
training_steps=200000
max_grad_norm=1.0
fp16=True

valid_mode = step
step_epoch = 3000

[eval] #eval parameters
batch_size = 4

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = MultiDocDataset
train_formatter_type = VanillaLFM
train_data = /home/xcj/LegalLongPLM/data
train_files = ms_token/ms_fact_document,xs_token/xs_fact_document

valid_dataset_type = MultiDocDataset
valid_formatter_type = VanillaLFM
valid_data = /home/xcj/LegalLongPLM/data
valid_files = ms_token/ms_fact_document,xs_token/xs_fact_document

[model] #model parameters
model_name = DimRedBERT

[output] #output parameters
output_time = 1
test_time = 1

model_path = /home/xcj/LegalLongPLM/model
model_name = DimRedBERT

tensorboard_path = /home/xcj/LegalLongPLM/tensorboard

output_function = Null
