[train] #train parameters
epoch = 128
batch_size = 2

reader_num = 4

optimizer = adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1
shuffle = True

max_len = 512

[eval] #eval parameters
batch_size = 12

reader_num = 1

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = ParaBert
train_formatter_type = ParaBert
train_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/para/para/train.json

valid_dataset_type = ParaBert
valid_formatter_type = ParaBert
valid_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/para/para/test.json

test_dataset_type = ParaBert
test_formatter_type = ParaBert
test_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/para/para/test.json

label2num = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/dispute/label2num.json

[model] #model parameters
model_name = ParaBert

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/model
model_name = ParaBert_r

tensorboard_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/tensorboard

output_function = out1
output_value = micro_precision,micro_recall,micro_f1,macro_f1

tqdm_ncols = 150
