[train] #train parameters
epoch = 16
batch_size = 32

shuffle = True

reader_num = 8

optimizer = AdamW
learning_rate = 5e-5
weight_decay = 0.01
step_size = 1
lr_multiplier = 1

max_len=512
mlm_prob=0.15

warmup_steps=3000
training_steps=100000
max_grad_norm=1.0
fp16=True

valid_mode = step
step_epoch = 3000

[eval] #eval parameters
batch_size = 12

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = FullTokenDataset
train_formatter_type = VanillaLFM
train_data = /data/xcj/LegalBert/data/data_10000/data_SS_document

valid_dataset_type = FullTokenDataset
valid_formatter_type = VanillaLFM
# valid_data = /data/xcj/LegalBert/data/data_10000/data_SS_document
valid_data = /data/xcj/LegalBert/data/valid/data_valid_SS_document

[model] #model parameters
model_name = VanillaBert

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/xcj/LegalBert/model
model_name = VanillaBert

tensorboard_path = /data/xcj/LegalBert/tensorboard

output_function = Null
