[train] #train parameters
epoch = 128
batch_size = 10

reader_num = 4

optimizer = adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 0.95
shuffle = True

[eval] #eval parameters
batch_size = 12

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BERT
train_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/merge/train
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BERT
valid_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/merge/test
valid_file_list = test.json

test_dataset_type = JsonFromFiles
test_formatter_type = BERT
test_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/merge/test
test_file_list = test.json

max_seq_length = 512
mapping_file = data/court_view/data/mapping3.json
multi = True
#multi = False

[model] #model parameters
model_name = BERT

hidden_size = 256

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/model
model_name = basic_bert_test

tensorboard_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/tensorboard

output_function = Basic
output_value = micro_precision,micro_recall,micro_f1,macro_f1

tqdm_ncols = 150
