[train] #train parameters
epoch = 256
batch_size = 64

reader_num = 4

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 0.95
shuffle = True

[eval] #eval parameters
batch_size = 256

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = Char
train_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/small_para/train
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = Char
valid_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/small_para/test
valid_file_list = test.json

test_dataset_type = JsonFromFiles
test_formatter_type = Char
test_data_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/small_para/test
test_file_list = test.json

max_seq_length = 1000
word2id = data/document/word2id.json
mapping_file = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/xcjshr/data/court_view/paras/merge/mapping3.json
#mapping_file = data/court_view/data/mapping_without_few.json
multi = True
#multi = False

[model] #model parameters
model_name = CNN

hidden_size = 256

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/model
model_name = basic_bert_test

tensorboard_path = /data/disk1/private/xcj/MJJDInfoExtract/SimilarCase/code/tensorboard

output_function = Basic
output_value = micro_precision,micro_recall,micro_f1,macro_f1

tqdm_ncols = 150
